:root {
  --purple-color:rgb(101, 48, 101);
  --pink-color: rgb(239, 217, 232);
  --dark-pink-color: rgb(199, 134, 178);
}

body {
  background-color: var(--pink-color) !important;
  color: rgb(87, 30, 87) !important ;
}

.home-section, .expertise, .about, .contact{ 
/* height: 100vh; */
height: auto;
}
.home-section {
  margin: 75px 0px 100px 0px;
}
.home-section .landing {
  margin-top: 20px;
}
.home-section .landing .landing-description p {
  font-size: 1.4em;
  text-indent: 40px;
  text-align: center;
}
.home-section h1,
.expertise h1,
.projects-container h1,
.about-section h1,
.contact-section h1 {
  text-align: center;
  margin: 50px auto;
}
.landing .home-img {
  height: 100%;
  width: 60%;
}
.navbar {
  background-color: var(--purple-color);
}
.navbar-fixed .navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-fixed .nav-link,
.navbar-fixed .navbar-brand {
  color: white;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.dark-mode-toggle.dark {
  /* Style for dark mode button */
  color: #fff; /* Change text color for dark mode */
}

.dark-mode-toggle.light {
  /* Style for light mode button */
  color: #000; /* Change text color for light mode */
}

.expertise img {
  width: 60%;
  height: 70%;
  padding: 20px;
  border: 1px solid var(--purple-color);
}

.expertise h1,
.projects h1 {
  text-align: center;
  margin: 25px 0px 45px 0px;
}
.expertise .row {
  margin-top: 100px;
}
.carousel-item {
  height: 600px; /* Set a fixed height for the Carousel items */
}
.projects-container {
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

.project-image-container {
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  height: 100%;
}

/* .project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} */

.project-image {
  width: 100%; /* Set the width to 100% to ensure the image fills its container */
  height: auto; /* Allow the height to adjust automatically based on the aspect ratio */
  max-width: 250px; /* Set a maximum width for the image */
  max-height: 400px; /* Set a maximum height for the image */
  object-fit: cover; /* Ensure the image covers the entire container */
margin-top: 50px;
}
.project-caption {
  color:var(--purple-color) ;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .project-image-container {
    height: auto; /* Remove fixed height */
    min-height: 300px; /* Set a minimum height */
  }
}
.project-caption h2,
.project-caption p {
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--purple-color);
  color: var(--pink-color);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: var(--dark-pink-color);
}
.tech-images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.tech-slide {
  margin: 10px;
}

.projects-tech-image {
  height: 50px !important;
}
.project-btns {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.project-btns button {
  margin-left: 20px;
  padding: 10px 50px;
  background-color: var(--purple-color);
  color: var(--pink-color);
  border-radius: 15px;
  border-color: transparent;
  
}
.custom-link{
text-decoration: none;
color: inherit;
}
.project-btns img {
  margin-right: 20px;
  fill: var(--pink-color);
}
.project-btns Button:first-child img {
  height: 20px;
}
.project-btns Button:hover {
  background-color: var(--dark-pink-color);
  border-color: var(--purple-color);
}
.contact-section {
  padding: 20px;
  background-color: var(--purple-color);
  color: white;
}
.contact-item a {
  text-decoration: none;
  color: white;
}
.contact-info {
  /* margin-top: 20px; */
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-item svg {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 48px;
}

.contact-item p {
  margin-bottom: 0;
  line-height: 1;
}
.about-section {
  width: 99%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.experience-item > div {
  display: flex;
  justify-content: space-between;
}
.rounded-circle {
  margin-bottom: 10px;
}
.about-description {
  padding-left: 10px;
}
.about-content h2 {
  text-align: center;
}
.about-text p {
  text-indent: 40px;
}
.about-section .about-description {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.about-content .description-card {
  height: 100%;
}
.about-content .card {
  background-color: var(--pink-color);
  border: 2px solid var(--purple-color);
  border-radius: 35px;
  color: var(--purple-color);
}
.education-card {
  margin-bottom: 50px;
}
