.home, .about, .contact{
    height: 100%;
}
.home{
    margin-top: 65px;
}
.navbar-fixed {
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

.dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
  }
  
  .dark-mode-toggle.dark {
    /* Style for dark mode button */
    color: #fff; /* Change text color for dark mode */
  }
  
  .dark-mode-toggle.light {
    /* Style for light mode button */
    color: #000; /* Change text color for light mode */
  }
  
.home-img{
    border-radius: 50%;
    height: 70%;
    width: 50%;
}
.home .container{
    /* max-width: fit-content; */
    margin: 0 auto;
    /* width: 100vw; */
}
.home p{
    text-align: center;
}
.home h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.expertise img{
    width: 60%;
    height: 70%;
    padding: 20px;
    border: 1px solid purple;
}
.expertise h1, .projects h1{
    text-align: center;
margin: 25px 0px 45px 0px;
}
.expertise .row{
    padding-top: 20px;
}
.projects img{
    width: 40%;
    height: 40%;
}
.project-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; /* Adjust as needed */
  }
  
  .project-details {
    margin-top: 10px; /* Adjust spacing between image and details */
    text-align: center;
  }
  
  .project-details h3 {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 5px; /* Adjust spacing between title and techs */
  }
  
  .project-details h4 {
    font-size: 14px; /* Adjust font size */
    font-style: italic;
  }
.slick-slider{
    width: 98%;
}  